* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url(../img/background-grafica.png);
  background-size: cover;
  background-color: white;
}

footer {
  font-style: italic;
  text-align: center;
  font-size: 12px;
  border-top: 4px solid red;
  padding-top: 10px;
  margin-top: 10px;
}

#container {
  width: 1000px;
  margin: auto;
}

#logo {
  width: 80px;
  vertical-align: middle;
}

#logo-text {
  font-weight: 400;
  font-size: 30px;
  vertical-align: middle;
}

#search-bar {
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 4px solid red;
}

#unread-number {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 4px solid;
  border-color: red;
}

#mail-list {
  color: #000;
}

.anteprima {
  color: rgb(120, 120, 120);
}

.n-box {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: dodgerblue;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  color: #fff;
  font-weight: 700;
}

.read {
  background-color: #fff;
  height: 25px;
  margin: 1px;
  padding-left: 8px;
  border: 1px solid black;
  border-radius: 2px;
}

.unread {
  background-color: #fff;
  height: 25px;
  margin: 1px;
  font-weight: 700;
  padding-left: 4px;
  border-left: 5px solid dodgerblue;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 2px;
}

.star {
  font-weight: 400;
}

.anteprima::before {
  content: ' - ';
}

.anteprima::after {
  content: '...';
}
